body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #ecfdf5;
  font-weight: 400;
  color: #6b7280;
}

.container {
  padding: 115px 50px;
  width: 550px;
  margin: 0 auto;
}

#title {
  color: #2b283a;
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 40px;
}

#title > div {
  color: #10b981;
}

#subtitle {
  font-size: 20px;
  font-weight: 400;
}

#password-properties{
  margin: 40px 0;
}

#password-length{
  width: 60px;
  text-align: center;
}

#btn-generate {
  background-color: #10b981;
  border: none;
  padding: 10px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

hr {
  margin: 35px 0;
  color: #d5d4d8;
}

#passwords-container {
  display: flex;
  justify-content: space-between;
}

.password {
  background-color: #273549;
  color: #5def92;
  width: 45%;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  line-height: 20px;
  height: 20px;
}
